{# home/home.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

  <h1>{{title}}</h1>

  <p>Bienvenu {{qui}} sur ce super site consacré au cinéma !</p>

  <p>Vous allez enfin pouvoir blabla de cinéma, blabla sur le cinéma et bien sûr cinémablablater.</p>

    <h2> A la Une </h2>

      <p> Ici mettre une liste à la Une </p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>

    <h2> Dernière liste postée </h2>

      <p> Ici mettre la dernière liste postée et faire voter </p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Voter</a>
      </p>
      <br>
      <br>

  {% if isAdmin == 1 %}
    <p>
      <a href="{{ path('admin') }}"> <button type="button" class="btn btn-primary btn-lg btn-block">Admin Page</button> </a>
    </p>
  {% endif %}

{% endblock %}