<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href = "https://bootswatch.com/4/sketchy/bootstrap.min.css">
        <!--link rel = "stylesheet" href="/css/template.css" media="all" type="text/css"-->
        <title>{% block title %}TchiTcha{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <header id = "navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/home/cinema">CinéCinéma</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/espace">Mon espace</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/auth/login">Me connecter <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <a class="nav-link" href="/auth/logout">
                    <svg class="bi bi-box-arrow-right" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" color ="blue">
                        <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 010-.708L14.293 8l-2.647-2.646a.5.5 0 01.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h9a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 01.5 12V4A1.5 1.5 0 012 2.5h7A1.5 1.5 0 0110.5 4v1.5a.5.5 0 01-1 0V4a.5.5 0 00-.5-.5H2a.5.5 0 00-.5.5v8a.5.5 0 00.5.5h7a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V12A1.5 1.5 0 019 13.5H2z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
            <div>
                <a class="nav-link" href="/home/camera">
                    <svg class="bi bi-camera-video" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" color="blue">
                        <path fill-rule="evenodd" d="M2.667 3.5c-.645 0-1.167.522-1.167 1.167v6.666c0 .645.522 1.167 1.167 1.167h6.666c.645 0 1.167-.522 1.167-1.167V4.667c0-.645-.522-1.167-1.167-1.167H2.667zM.5 4.667C.5 3.47 1.47 2.5 2.667 2.5h6.666c1.197 0 2.167.97 2.167 2.167v6.666c0 1.197-.97 2.167-2.167 2.167H2.667A2.167 2.167 0 01.5 11.333V4.667z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M11.25 5.65l2.768-1.605a.318.318 0 01.482.263v7.384c0 .228-.26.393-.482.264l-2.767-1.605-.502.865 2.767 1.605c.859.498 1.984-.095 1.984-1.129V4.308c0-1.033-1.125-1.626-1.984-1.128L10.75 4.785l.502.865z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
        </nav>
        <br>
    </header>

    <body class = "container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

    <footer>


    <blockquote class="blockquote text-center">
        <p class="mb-0">Always look on the bright side of life</p>
    <footer class="blockquote-footer"><cite title="Source Title">Brian</cite></blockquote>
    <footer>
        <div>
            <ul class="pagination">
                <li class="page-item active">
                <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="/home">1</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="/home/cinema">2</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="/auth/espace">3</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="/auth/login">4</a>
                </li>
                <li class="page-item active">
                <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </footer>
</html>
