{# auth/logout.html.twig #}

{% extends 'base.html.twig' %}

{% block javascripts %}

<div class="jumbotron">
  <h1 class="display-3">{{ title }}</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Merci pour votre visite et à bientôt ! </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{path('home')}}" role="button">Retour à la page d'accueil</a>
    </p>
</div>

{% endblock %}